#submit {

margin-top: 200px;
}


.container {
  margin-top: 100px;
}

.question {

  position: relative;

}
@keyframes animate {
    0% {
      transform: scale(1);
      left:0px;
      top:0px;
    }
    100% {
      transform: scale(0);
      left: -600px;
      top: -100px;
    }
}

.animation {
  animation-name: animate;
  animation-duration: 0.5s;
  animation-iteration-count: 1;

}
