<!DOCTYPE html>
<html>
  <head>
    <title>Animation</title>
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="controllers.js"></script>

  </head>
  <body ng-app="mainApp" ng-controller="mainCtrl">

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li ng-repeat="s in solved">
              {{s}}
              <hr>
            </li>
        </div>
        <div class="col-md-9">
          <div class="question" ng-class="anim">
            <p>{{questions[0]}}</p>
            <button id="submit" ng-click="submit()" type="button" class="btn btn-success">Success</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
